backoff==2.2.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.1
Fuzzy==1.2.2
fuzzywuzzy==0.18.0
idna==3.4
langdetect==1.0.9
Levenshtein==0.20.9
lxml==4.9.2
numpy==1.24.2
opencage==2.1.0
pandas==1.5.3
pycparser==2.21
pyOpenSSL==23.1.0
python-dateutil==2.8.2
python-Levenshtein==0.20.9
pytz==2023.2
pyusps==0.0.7
rapidfuzz==2.13.7
requests==2.28.2
six==1.16.0
srtools==0.1.13
transliterate==1.10.2
urllib3==1.26.15
